<a href="https://colab.research.google.com/github/mosta82/python/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def foo():   
    x = 20
    def bar():
        global x
        x = 25
        print("Before calling bar: ", x)
    
       
    print("Before calling bar: ", x)
    print("Calling bar now")
    
    print("After calling bar: ", x)

foo()
print("x in main: ", x)

Before calling bar:  20
Calling bar now
After calling bar:  20

NameError: ignored

In [ ]:
print(len(range(100000,200000)))

100000

In [ ]:
%%time
line= "*"
max_lline = 10
while len(line)<max_lline:
  print(line)
  line += "*"

while len(line)>0:
  print(line)
  line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*
CPU times: user 2.45 ms, sys: 995 Âµs, total: 3.44 ms
Wall time: 4.31 ms

In [ ]:
line =10*"*"
while len(line)>0:
  print(line)
  line= line[:-1]

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
a =5
for i in range(a):
  for j in range(i-1):
    print(" ",end=" ")
  for j in range(a-i):
    print("*",end=" ")  
  print()

* * * * *
* * * *
  * * *
    * *
      *

In [ ]:
file1 = open("bal.txt","wb")
print(file1.mode)
print(file1.name)
#print("pp")
file1.write(bytes("write my file","UTF-8"))
file1.close()

wb
bal.txt

In [ ]:
import numpy as np
a = np.array([1,2,3,4,5],dtype=np.float)
print(a)
print(a.dtype)
print(a.shape)
print(a.size)
print(a.ndim)

[1. 2. 3. 4. 5.]
float64
(5,)
5
1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [ ]:
arr = np.array([[1, 2, 3, 4, 5],[10,11,12,13,14], [6, 7, 8, 9, 10]])
print(arr.shape)
print(arr.size)
print(arr.ndim)
print(arr[1][0])
arr.sum()
print(arr.mean(axis=1))

(3, 5)
15
2
10
[ 3. 12.  8.]

In [ ]:
def show_excitement():
    # Your code goes here!
    strings = "I am super excited for this course!"
    #strings = strings.split('')
    for s in strings.split(' '):
        return s 
        
    

#print(show_excitement())
print(show_excitement())

I

In [ ]:
graph = {'0': ['1', '2'],
         '1': ['0', '3', '4'],
         '2': ['0'],
         '3': ['1'],
         '4': ['2', '3']}
visited = set()
def dfs(visited,graph,root):
  if root not in visited:
    print(root)
    visited.add(root)
    for n in graph[root]:
      dfs(visited,graph,n)


dfs(visited,graph,'0')

0
1
3
4
2

In [ ]:
n = int(input("Enter year: "))
if (n%4)==0:
  if (n%100)==0:
    if (n%400)==0:
      print("{} leap year".format(n))
    else:
      print("{} not  leap year".format(n))
  else:
    print("{} leap year".format(n))

else:
  print("{} not leap year".format(n))

In [ ]:
def hello(**kwargs):
  print("hello!",end=" ")
  for i in kwargs:
    print(i,end=" ")

hello(hi = "hi",mor = "morshed")

In [ ]:
import random
cards = [1,2,3,4,5]
z= random.choices(cards)
print(z)

In [ ]:
import os

path = 'D:\\bal.txt'

if  os.path.isdir(path):
   print("hmm")
else:
  print("nope")

In [ ]:

#import os
f = open("https://colab.research.google.com/drive/1CvAekidYy2AwRoAsumNJ6aFXY7OcvRgK#scrollTo=vtaQwsVejHKV&line=6&uniqifier=1",'r')
print(f)

In [ ]:
text = "yoousfbsv \n souebfljsefc \nsidnvskd"
with open("test.txt",'w') as file:
  file.write(text)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:

text = "vala hoia jau"
with open('text.txt','a') as file:
  file.write(text)

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[::2])

In [ ]:
ROWS = int(input("number of rows: "))
coloums = int(input("number of coloums: "))
symbols = input("which type symbol: ")

for i in range(ROWS):
  for j in range(coloums):
    print(symbols,end="")

  print()

In [ ]:
street_road = "khilkhet"
city_name = "Dhaka"
country = "bangladesh"
print("then what's ur details: ",'\n',street_road ,'\n',city_name,'\n',country)
x = '13'
y = '14'
print("I eat {} veggies and {} fruits daily".format(x,y))
print(f"I eat {x} veggies and {y} fruits daily")
s = "maine 200 banana khaye"
s = s.replace('banana','somossa').replace('200','10')
print(s)

In [ ]:
# vowels list
#vowels = ['e', 'a', 'u', 'o', 'i']
vowels = ['cgce', 'kjvkha', 'jjbu', 'jjo', 'ppi']
# sort the vowels
vowels.sort(key =len,reverse=True)

# print vowels
print('Sorted list (in Descending):', vowels)

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))
heros.append('black panther')
print(len(heros))
print(heros.pop())
heros.insert(3,'black panther')
print(heros)
# heros.replace('hulk','doctor strange')
#print(heros)
#dir([heros])
print(dir([heros]))

In [ ]:
0 is not 0.0
# 0 is 0.0

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
#sx = car.key()
print(car.keys())
car["color"] = "black"
print(car)
print(car.keys())

In [ ]:
class employee:
  empCount=0
  def __init__(self,name,salary):
    self.name = name
    self.salary = salary
    employee.empCount+=1
  def employeeCount(self):
    print("total employee: ",empCount)
  def empDetails(self):
    print("Name: ",self.name,",Salary: ",self.salary)    

emp1 = employee("bal",12211)   
emp1.empDetails()
del emp1.name
try:
  print(emp1.name)
except AttributeError:
  print("emp1.name not defind...")                              

#emp1 = employee("chol",12211)   
#emp1.empDetails()
emp2 = employee("balloo",123211)   
emp2.empDetails()
emp3 = employee("balpo",152211)   
emp3.empDetails()
emp4 = employee("balmo",1222411)   
emp4.empDetails()
p = employee.empCount
print(p)

In [ ]:
import numpy

arr = numpy.array([1, 2, 3, 4, 5])

print(arr)

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

print(type(arr))

In [ ]:
class Classy(object):
    def __init__(self):
        self.items = []
    def addItem(self,item):
        self.items.append(item)
    def getClassiness(self):
        Classiness = 0
        if len(self.items)>0:
          for item in self.items:
            if item =="tophat":
                 Classiness +=2
            elif item =="bowtie":
                 Classiness +=4
            elif item =="monocle":
                 Classiness +=5
        return Classiness
# Test cases
me = Classy()

# Should be 0
print(me.getClassiness())

me.addItem("tophat")
# Should be 2
print(me.getClassiness())

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

#for day in days:

for i in range(len(fruits)):
  #for i in days:
    print(days[i]," :", fruits[i])

In [ ]:
def fibo (num):
  fib = [0,1]
  i=2
  while i<=num:
    next_fibo = fib[i-2]+ fib[i-1]
    fib.append(next_fibo)
    i+=1
  return fib

print(fibo(9))

In [ ]:
def factorial(num):
  if num>1:
    return num*factorial(num-1)
  else:
    return 1

print(factorial(6))

In [ ]:
len = int(input("hoe much element u need: "))
total= 0
for num in range(0,len):
  elem = int(input("enter number : "))
  total += elem

avg = total/len
print("these number of avg : ",round(avg,4))

In [ ]:
numbb = int(input("how many number do u want: "))
numbers =[]
while len(numbers) < numbb:
    elem = int(input("ur choosing number: "))
    numbers.append(elem)

print(sum(numbers)/numbb)

In [ ]:
import pandas as pd

In [ ]:
 data = pd.read_csv(r"air-quality-data.csv")

FileNotFoundError: ignored

In [ ]:
data

In [ ]:
data.info()

In [ ]:
data['Timestamp']= pd.to_datetime(data['Timestamp'])

In [ ]:
data

In [ ]:
data['Year'] = data.Timestamp.dt.year

In [ ]:
data.head()

In [ ]:
year_avg = data.groupby('Year')["PM2.5"].mean()

In [ ]:
year_avg

In [ ]:
year_avg.plot(kind = 'line')

In [ ]:
data.head()

In [ ]:
data['Month'] = data.Timestamp.dt.month

In [ ]:
month_avg = data.groupby("Month")['PM2.5'].mean()

In [ ]:
month_avg.plot(kind= 'area',figsize =(12,5),color = 'blue')

In [ ]:
from sklearn.datasets import fetch_mldata

In [ ]:
name = "John Smith"
age = 20
new_patient = True
print(name)
print(age)
print(new_patient)

John Smith
20
True

In [ ]:
first = float(input("FIrst: "))
second = float(input("Second: "))
print("sum =",first+second)

FIrst: 12.3
Second: 12
sum = 24.3

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [ ]:
pd.read_csv?

In [ ]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
diabetes_dataset.shape

(768, 9)

In [ ]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
X = diabetes_dataset.drop(columns='Outcome',axis = 1)
Y = diabetes_dataset['Outcome']

In [ ]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [ ]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X)

StandardScaler()

In [ ]:
standardized_data = scaler.transform(X)

In [ ]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [ ]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

In [ ]:
classifier = svm.SVC(kernel='linear')

In [ ]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [ ]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuracy score of the test data: ',test_data_accuracy)

Accuracy score of the test data:  0.7727272727272727

In [ ]:
input_data = (1,89,76,34,37,31.2,0.192,23)
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
std_data = scaler.transform(input_data_reshaped)
print(std_data)
prediction = classifier.predict(std_data)
print(prediction)
if(prediction[0]==0):
  print('The person is not diabetics')
else:
  print('The person is  diabetics')

[[-0.84488505 -0.99820778  0.35643175  0.84454186 -0.37162342 -0.10059342
  -0.84525965 -0.87137393]]
[0]
The person is not diabetics

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"